body {
    margin: 0;
    padding: 0;
}

img[src="banner.png"] {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #337ab7;
}

nav button {
    background-color: #337ab7;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

nav button:hover {
    background-color: #23527c;
}